//----------------------------------------------------------------------------
// Header
//----------------------------------------------------------------------------

.logo
{
	// Position
	margin: 0 auto;
	@extend %lead-padding-1;
	@extend %trailer-padding-1;

	// Style
  background: url('../img/logo2.png');
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 1px solid $creamDark;
	background-color: $white;

	@extend %hide-text;
}

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    .logo
    {
      background-image: url('../img/logo2@2x.png');
      background-size: 51px 57px;

    }
   }


$branding-height: $base-half-leader;

.branding-colors
{
  div
  {
    float: left;
    width: 33.333333333%;
	  height: $branding-height;
  }

  .orange
  {
    background: $orange;
  }

  .red
  {
    background: $red;
  }

  .yellow
  {
    background: $yellow;
  }

}