//----------------------------------------------------------------------------
// Header  
//----------------------------------------------------------------------------

header.primary-header
{

}

.logo
{
	// Position
	margin: 0 auto;
	@extend %lead-padding-1;
	@extend %trailer-padding-1;

	// Style
  background: url('../img/logo2.png'); 
	@include image-2x('../img/logo2@2x.png', 51px, 57px);
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 1px solid $creamDark;
	background-color: $white;

	@extend %hide-text;
}

$branding-height: $base-half-leader;

.branding-colors
{
  div
  {
    float: left;
    width: 33.333333333%;
	height: $branding-height;
  }

  .orange
  {
    background: $orange;
  }

  .red
  {
    background: $red;
  }

  .yellow
  {
    background: $yellow; 
  }

}