//----------------------------------------------------------------------------
// type.scs  
// for typography and typographical rhythm
//----------------------------------------------------------------------------

//////////
// Root //
//////////

html
{
    -webkit-text-size-adjust : 100%;
    -ms-text-size-adjust : 100%; 
}

body
{
    -webkit-font-smoothing: antialiased;
    font-family: $bs-font-family;
}

///////////////
// Includes  //
///////////////

//TypePlate
@import "base/typeplate";


////////////
// Styles //
////////////


//////////
// Body //
//////////

p,
ol,
ul,
dl,
address 
{
  font-family: $bs-font-family;
}

p
{
  display: inline-block;
}


///////////
// LINKS //
///////////

a 
{
  color: $bs-color; 
  text-decoration: none; 
}

a:hover 
{
  color: lighten($bs-color, 10%);
}


/////////////
// Headers //
/////////////

h1, h2, h3, h4, h5, h6 
{
  font-family: $header-stack;
}


time
{
  background: orange;
  padding: .2rem 1.1rem;
  border-radius: .5rem;
  color: snow;
}