        <header class="primary-header">
            <div class="primary-header- wrap"></div>
            <div class="logo"><h1>themworks</h1></div>
            <div class="branding-colors">
                <div class="orange"></div>
                <div class="red"></div>
                <div class="yellow"></div>
            </div>
        </header> 
