---
pageable: true
per_page: 10
---

 
 <% blog.articles[0...5].each do |article| %>

  <article class="blog-list item">
  	<header class="entry-header entry-meta">
    <h3 class="entry-header">      
      	<a href="<%= article.url %>"><%= article.title %></a>
    </h3> 

    <time class="entry-date"><%= article.date.strftime('%b %e %Y') %></time>

	</header>

    <%= article.summary %>
    
  </article>

<% end %>


