---
pageable: true
per_page: 10
---


<header class="primary-header">
    <div class="primary-header- wrap"></div>
    <div class="logo"><h1>themworks</h1></div>
    <div class="branding-colors">
        <div class="orange"></div>
        <div class="red"></div>
        <div class="yellow"></div>
    </div>
</header> 

<div class="page">  
 
 <% blog.articles[0...5].each do |article| %>

  <article class="blog-list item">
  	<header class="entry-header entry-meta">
    <h3 class="entry-header">      
      	<a href="<%= article.url %>"><%= article.title %></a>
    </h3> 

    <time class="entry-date"><%= article.date.strftime('%b %e %Y') %></time>

	</header>

    <%= article.summary %>
    
  </article>

<% end %>

</div>

